<div class="flex mt5">
  <h2 class="flex-auto ma0">All Pages</h2>
  <div class="ml5 self-center">
    <%= link_to "New Page", new_admin_page_path, class: "no-underline bg-blue white fw7 pa3 bn br2 pointer tracked f6 ttu" %>
  </div>
</div>
<hr>


<% if @pages.empty? %>

  <p>No pages have been created yet</p>

<% else %>

  <table cellspacing="0">
    <thead>
      <tr>
        <th>Page Title</th>
        <th>Slug</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.slug %></td>
          <td><%= link_to "Edit", edit_admin_page_path(page) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
