<ul>
	<li>List out any outstanding/new start ups</li>
	<li>Edit startups
		<ul>
			<li>Edit details</li>
			<li>Upload logo</li>
			<li>Approve</li>
			<li>Delete</li>
			<li>Rearrange?</li>
		</ul>
	</li>
	<li>Edit homepage content</li>
</ul>