<ul class="cbp-rfgrid">

  <% @startups.each do |startup| %>
    <li>
      <a href="<%= startup.url %>" target="_blank">
        <%= image_tag startup.uploaded_logo.url(:standard), alt: startup.name %>
        <div>
          <h3><%= startup.name %></h3>
        </div>
      </a>
    </li>
  <% end %>

</ul>


<div class="join-box">
  <a name="join" class="no-link"></a>
  <span><strong>What do all these companies have in common?</strong><br>
  1) They were founded in Ireland in the 21st century<br>
  2) They have the ambition to transform their industry<br>
  3) None of the founders are leprechaun’s<br><br>
  Does your startup meet these criteria and do you want to support this initiative?<br>
  <strong>Submit your Irish startup by filling out the <a class="typeform-share link" href="https://foundedinireland.typeform.com/to/OVNppC" data-mode="2" target="_blank">application&nbsp;form</a>.</strong>
  <br>
  <strong>Do you know an innovative startup? <a class="typeform-share link" href="mailto:andrew@foundedinireland.com" data-mode="2" target="_blank">Let us know it</a>.</strong>

  <br><br><br>
  <div>
    <!-- https://foundedinireland.typeform.com/to/OVNppC -->
    <span style="display:inline;"><a class="typeform-share link join-button" href="https://colinyoung87.typeform.com/to/uDvkyE" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a></span>
  </div>
  <br><br>
  <span>Follow on <a href="https://twitter.com/foundedireland" target="_blank"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a>
     &nbsp;&middot;&nbsp; <a class="typeform-share link" href="https://foundedinireland.typeform.com/to/OVNppC" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a>
     &nbsp;&middot;&nbsp; <a href="mailto:andrew@foundedinireland.com" target="_blank">Contact</a></span>

  <div align="center" style="width:170px; margin:0 auto;">
      <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://foundedinireland.com/" data-via="foundedireland" data-count="none" data-dnt="true">Tweet</a></div>
  </div>
</div>
