<h2>Edit Post</h2>
<hr>

<%= render 'nav' %>

<%= render 'form' %>

<%= link_to 'Delete Post', admin_post_path(@post), method: :delete, class: 'delete', "data-confirm" => "Are you sure you want to delete this?" %>