.page-footer {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  clear:both;
  text-align:center;
  padding: 3.125em 3.125em 0;
}

.page-footer span {
  font-size:0.750em;
  display: block;
  font-weight: 300;
  line-height: 1.8;
  margin: 1.250em 0;
  letter-spacing: 0.01em;
}

.page-footer img {
  height:5.000em;
  margin:2.500em 0;
}
