$red: #af0909;
$dark_green: #233f32;

.right-text { text-align: right }

.login-box {
	max-width: 400px;
	margin: 0 auto;

	input[type=checkbox] {
		width: auto;
	}

	label.inline {
		display: inline;
	}
}

.error {
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	background: $red;
	color: #fff;
}

.admin {
	max-width: 90%;
	margin: 0 auto;

	ul.admin-nav {
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		width: 100%;
		height: 40px;

		li {
			display: block;
			float: left;
			height: 100%;

			a {
				display: block;
				float: left;
				padding: 10px 20px;
				border: 0;
			}
		}

		li.right {
			float: right;

			a {
				float: right;
				padding: 2px 5px;
				margin-top: -2px;
			}
		}
	}

	ul.sub-nav {
		list-style: none;
		padding-left: 0;
		height: 15px;

		li {
			display: block;
			float: left;
			margin-right: 10px;
		}
	}

	.wrapper {
		background: rgba(255,255,255,0.3);
		padding: 30px;
		margin-bottom: 30px;
	}

	h2 {
		margin-top: 0!important;
	}

	table {
		width: 100%;

		thead {
			background: rgba(0,0,0,0.2)
		}

		td {
			border-bottom: 1px solid rgba(255,255,255,0.5);
			padding: 10px;
		}
	}

	label {
		display: block;
		padding-bottom: 5px;
	}

	input, textarea {
		border: 0;
		padding: 5px;
		margin-bottom: 10px;
		width: 100% !important;
	}

	textarea {
		min-height: 80px;
	}

	input[type=submit] {
		cursor: pointer;
		background: #233F32;
		color: #fff;
		font-size: 16px;
		font-family: Lato, Calibri, Arial, sans-serif;
		padding: 10px 0;
	}

	a.delete {
		background: $red;
	}
}

.redactor_box {
	margin-bottom: 20px;

	.redactor_toolbar {
	  background: $dark_green;

	  li a {
	  	background: $dark_green;
	  	color: #fff;
	  }
	  li a:hover {
	  	background: #000;
	  	color: #fff;
	  }
	}

	.redactor_editor {
		color: #000;

		a {
			background: #fff;
		}
	}
}

.redactor_dropdown a {
	background: #fff;
	color: #000;
}